{% extends 'base.html' %}
{% load static %}
{% block 'title' %} Lista de Funcioanarios {% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/funcionario/listar_funcionarios.css' %}">
{% endblock %}
{% block content %}
    {% include 'partials/_menu.html' %}

    <div class = "listar_funcionario">
        <a href="{% url 'cadastro_funcionario' %}"><button>Cadastro</button></a>
        {% for funcionario in funcionarios %}
            <a href="{% url 'visualizar_funcionario' funcionario.id %}">{{funcionario.nome}}</a>
        {% endfor %}
    </div>

{% endblock %}