{% extends 'base.html' %}
{% load static %}
{% block 'title' %} CEFAT - Facilites {% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/funcionario/visualizar_funcionario.css' %}">
{% endblock %}
{% block content %}
    {% include 'partials/_menu.html' %}
    <main>
    <section class="principal-atleta">
        <div>
            <div class="atleta-container">
                <div class="atleta-imagem">
                    <img src="{{funcionario.foto_funcionario.url}}" alt="">
                </div>
                <div class="botao-div">
                    <a href="{% url 'editar_funcionario' funcionario.id %}"><button class="btn botao botao-editar">Editar</button></a>
    
                    <!-- Button chama modal -->
                    <button type="button" class="btn botao botao-excluir" data-bs-toggle="modal" data-bs-target="#modal">
                        Excluir
                      </button>
                      
                      <!-- Modal -->
                    <div class="modal fade" id="modal" aria-labelledby="modal-atleta" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                  <h2 class="modal-title fs-5" id="modal-atleta">Excluir Atleta</h2>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  Deseja mesmo excluir esse atleta?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                                  <a href="{% url 'deletar_funcionario' funcionario.id %}"><button type="button" class="btn btn-primary">Sim</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atleta-info-container">
                <div class="atleta-info info-1">
                    <div>
                        <p class="atleta-info-titulo"><b>Nome Completo:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.nome}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Email:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.email}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Telefone:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.telefone}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Contato de Emergencia:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.contato_emergencia}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Cep:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.cep}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>UF:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.uf}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Cidade:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.cidade}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Bairro:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.bairro}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Endereço:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.endereco}}</p>
                    </div>
                </div>

                <div class="atleta-info info-2">
                    <div>
                        <p class="atleta-info-titulo"><b>CPF:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.cpf}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>RG:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.rg}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Função/Cargo:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.funcao}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Horas de Trabalho:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.horario_de_trabalho}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Data de Admisão:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.admitido}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Banco:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.banco}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Agencia:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.agencia}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Conta:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.conta}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>PIX:</b></p>
                        <p class="atleta-info-conteudo">{{funcionario.pix}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
    {% include 'partials/rodape.html' %}
{% endblock %}