{% extends 'base.html' %}
{% load static %}
{% block 'title' %} Pagina Inicil {% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/facilitis/index_facilitis.css' %}">
{% endblock %}
{% block content %}
{% include 'partials/_menu.html' %}
    <main>
        <section class="ocorrencias">
            <div class="indices">
                <div class="indice indice-pendente">
                    <p>Abertos</p>
                    <div><p>{{aberto}}</p></div>
                </div>
                <div class="indice indice-processo">
                    <p>Em Andamento</p>
                    <div><p>{{andamento}}</p></div>
                </div>
                <div class="indice indice-resolvido">
                    <p>Concluidos</p>
                    <div><p>{{concluido}}</p></div>
                </div>
            </div>

            <div class="ocorrencia-container">
                <div class="ocorrencias-titulo">
                    <p>Ocorrências</p>
                </div>
                <div class="swiper slide-content-ocorrencia">
                    <div class="swiper-wrapper">
                        {% for ocorrencia in ocorrencias %}
                        <div class="swiper-slide slide-ocorrencia">
                            <p><a href="{% url 'visualizar_ocorrencia' ocorrencia.id %}">{{ocorrencia.titulo_da_ocorrencia}}</a></p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-scrollbar paginaçao"></div>
                </div>
            </div>
        </section>

    <!-- Link Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <!-- JS -->
    <script src="{% static 'js/ocorrencia.js' %}"></script>

    </main>
{% endblock %}