{% extends 'base.html' %}
{% load static %}
{% block 'title' %} CEFAT - Consultas {% endblock %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/Consultas/consulta_img.css' %}">
{% endblock %}
{% block content %}   
    {% include 'partials/_menu.html' %}
    <main>
    <section id="img-regiao">
        <div class="botao_retorno">
            <a href="{% url 'retornar_consulta' consulta.id %}"><button>Retornar</button></a> 
        </div>
        <div class="caixa">
            <img src="{{exame.imagem_exame.url}}" class="img-fluid" alt="">
        </div>
    </section>
</main>
    {% include 'partials/rodape.html' %}
{% endblock %}