{% extends 'base.html' %}
{% load static %}
{% block 'title' %} Gestor - CEFAT {% endblock %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/Consultas/listar_consultas.css' %}">
{% endblock %}
{% block content %}   
    {% include 'partials/_menu.html' %}
    <!-- <section>
        <h1>Lista de Consultas</h1>
    </section> -->
    <section id="lista-consulta">
        <a href="{% url 'criar_consulta' atleta %}"><button type="button"
            class="btn btn-primary btn-sm botao">Iniciar Consulta</button></a>
        <ul class="lista">
            {% for consulta in consultas %}
            <li>
                <p><i>{{consulta.criacao}}</i></p>
                <a href="{% url 'consulta_geral' consulta.id %}"><button type="button"
                        class="btn btn-primary btn-sm">conferir</button></a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}