{% extends 'base.html' %}
{% load static %}
{% block 'title' %} CEFAT - Consultas {% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/atletas/visualizar_atleta.css' %}">
{% endblock %}
{% block content %}
    {% include 'partials/_menu.html' %}
    <main>
    <section class="principal-atleta">
        <div>
            <div class="atleta-container">
                <div class="atleta-imagem">
                    <img src="{{atleta.foto_atleta.url}}" alt="">
                </div>
                <div class="botao-div">
                    <a href="{% url 'listar_consultas' atleta.id %}"><button class="btn botao botao-editar">Consultas</button></a>
                </div>
            </div>
            <div class="atleta-info-container">
                <div class="atleta-info info-1">
                    <div>
                        <p class="atleta-info-titulo"><b>Nome Completo:</b></p>
                        <p class="atleta-info-conteudo">{{atleta.nome}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b> Data de Nascimento:</b></p>
                        <p class="atleta-info-conteudo">{{atleta.data_nascimento}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Perna Dominante:</b></p>
                        <p class="atleta-info-conteudo">{{atleta.get_perna_dominante_display}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Altura:</b></p>
                        <p class="atleta-info-conteudo">{{atleta.altura_tratada}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Alergia:</b></p>
                        <p class="atleta-info-conteudo">{{atleta.alergia}}</p>
                    </div>
                </div>

                <div class="atleta-info info-2">
                    <div>
                        <p class="atleta-info-titulo"><b>Apelido:</b></p>
                        <p class="atleta-info-conteudo">{{atleta.apelido}}</p>
                    </div>

                    <div>
                        <p class="atleta-info-titulo"><b>Idade:</b></p>
                        <p class="atleta-info-conteudo">{{atleta.idade}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Peso:</b></p>
                        <p class="atleta-info-conteudo">{{atleta.peso_tratado}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"><b>Status:</b></p>
                        <p class="atleta-info-conteudo">{{atleta.status_atual}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"> <b>Plano de Saude:</b></p>
                        <p class="atleta-info-conteudo">{{atleta.plano_saude}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
    {% include 'partials/rodape.html' %}
{% endblock %}