{% extends 'base.html' %}
{% load static %}
{% block 'title' %} Cadastro de Atletas - CEFAT{% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/atletas/cadastro_atletas.css' %}">
{% endblock %}
{% block content %}
    {% include 'partials/_menu.html' %}
    <section>
        <h1>Cadastro de atletas</h1>
    </section>
    <section class="cadastro">
        <form class="formulario">
            <div class="titulo">
                <hr>
                <h2>Informações Pessoais</h2>
                <hr>
            </div>
            <div>
                <label for="nome" class="form-label cadastro-label">Nome Completo</label>
                <input id="nome" class="form-control cadastro-input" type="text" required>

                <label for="apelido" class="form-label cadastro-label">Apelido</label>
                <input id="apelido" class="form-control cadastro-input" type="text" required>

                <label for="dataNascimento" class="form-label cadastro-label">Data de nascimento</label>
                <input id="dataNascimento" class="form-control cadastro-input" type="date" required>

                <label for="idade" class="form-label cadastro-label">Idade</label>
                <input id="idade" class="form-control cadastro-input" type="number" required placeholder="15">

                <label for="cpf" class="form-label cadastro-label">CPF</label>
                <input id="cpf" class="form-control cadastro-input" type="text" required
                    pattern="\d{3}\.\d{3}\.\d{3}-\d{2}"
                    title="seu cpf deve manter a seguinte estrutura: nnn.nnn.nnn-nn">

                <label for="RG" class="form-label cadastro-label">RG</label>
                <input id="RG" class="form-control cadastro-input" type="number" required placeholder="Ex: 2008000010">

                <label for="naturalidade" class="form-label cadastro-label">Naturalidade(estado)</label>
                <input id="naturalidade" class="form-control cadastro-input" type="text" required
                    placeholder="Ex: Ceará" required maxlength="19" minlength="4">

                <label for="cidade" class="form-label cadastro-label">Cidade</label>
                <input id="cidade" class="form-control cadastro-input" type="text" required placeholder="Ex: Fortaleza">

                <label for="bairro" class="form-label cadastro-label">Bairro</label>
                <input id="bairro" class="form-control cadastro-input" type="text" required
                    placeholder="Ex: Bom Jardim">

                <label for="endereco" class="form-label cadastro-label">Endereço</label>
                <input id="endereco" class="form-control cadastro-input" type="text" required>

                <label for="numeroCasa" class="form-label cadastro-label">N° da casa</label>
                <input id="numeroCasa" class="form-control cadastro-input" type="number" required>

                <label for="cep" class="form-label cadastro-label">CEP</label>
                <input id="cep" class="form-control cadastro-input" placeholder="Ex: 65805-000" required maxlength="9"
                    required>

                <label for="telefone" class="form-label cadastro-label">Telefone para contato</label>
                <input id="telefone" class="form-control cadastro-input" type="number" required>

                <label for="whatsapp" class="form-label cadastro-label">N° whatsapp</label>
                <input id="whatsapp" class="form-control cadastro-input" type="number" required
                    placeholder="(xx)xxxxx-xxxx">

                <div class="input-duplo">
                    <div>
                        <label for="TelefoneObrigatorio" class="form-label cadastro-label">Telefone
                            responsável(obrigatório)</label>
                        <input id="TelefoneObrigatorio" class="form-control cadastro-input" type="number" required
                            placeholder="(xx)xxxxx-xxxx">
                    </div>
                    <div>
                        <label for="nome" class="form-label cadastro-label">Telefone responsável(opcional)</label>
                        <input id="nome" class="form-control cadastro-input" type="number" required
                            placeholder="(xx)xxxxx-xxxx">
                    </div>
                </div>
                <div class="input-duplo">
                    <div>
                        <label for="nomePai" class="form-label cadastro-label">Nome do pai</label>
                        <input id="nomePai" class="form-control cadastro-input" type="text" required>
                    </div>
                    <div>
                        <label for="nomeMae" class="form-label cadastro-label">Nome da mãe</label>
                        <input id="nomeMae" class="form-control cadastro-input" type="text" required>
                    </div>
                </div>

                <label for="altura" class="form-label cadastro-label">Altura</label>
                <input id="altura" class="form-control cadastro-input" type="number" required>

                <label for="peso" class="form-label cadastro-label">Peso</label>
                <input id="peso" class="form-control cadastro-input" type="text" required>

                <div class="select">
                    <select>
                        <option value="" selected disabled>Perna dominante</option>
                        <option value="">Direita</option>
                        <option value="">Esquerda</option>
                        <option value="">Ambidestro</option>
                    </select>
                </div>

                <div class="select">
                    <select>
                        <option value="" selected disabled>Qual o nome de sua escola e qual o seu nível de ensino?
                        </option>
                        <option value="">Ensino fundamental</option>
                        <option value="">Ensino Médio</option>
                        <option value="">Não frequento nenhuma instituição escolar</option>
                    </select>
                </div>

                <label id="planoSaude" class="form-label cadastro-label">Qual o seu plano de saúde?</label>
                <input id="planoSaude" type="text" class="form-control" required>
                <div class="grupo-checkbox">
                    <div>
                        <label for="teste">Não tenho plano de saúde</label>
                        <input type="checkbox" name="teste" id="planoSaude">
                    </div>
                </div>

                <label class="form-label cadastro-label">Você tem alguma alergia? Se sim, qual?</label>
                <input id="alergia" type="text" class="form-control" required placeholder="sua resposta">
                    <div class="grupo-checkbox">
                        <div>
                            <label for="teste">Não tenho alergia</label>
                            <input type="checkbox" name="teste" id="">
                        </div>
                    </div>

                    <div class="select">
                        <select>
                            <option value="" selected disabled>Qual sua posição</option>
                            <option value="">goleiro</option>
                            <option value="">lateral(direito)</option>
                            <option value="">lateral(esquerdo)</option>
                            <option value="">zagueiro</option>
                            <option value="">volante</option>
                            <option value="">meia</option>
                            <option value="">atacante</option>
                            <option value="">outro</option>
                        </select>
                    </div>

                <button type="submit" class="botao">Enviar</button>
            </div>
        </form>
    </section>

{% endblock %}