{% extends 'base.html' %}
{% load static %}
{% block 'title' %} {{atleta.nome}} {% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/atletas/visualizar_atleta.css' %}">
{% endblock %}
{% block content %}
    {% include 'partials/_menu.html' %}
    <section>
        <h1>Atleta/h1>
    </section>
    <section class="principal-atleta">
        <div>
            <div class="atleta-container">
                <div class="atleta-imagem">
                    <img src="{{atleta.foto_atleta.url}}" alt="">
                </div>
                <div class="botao-div">
                    <a href="{% url 'listar_jogos' atleta.id%}"><button class="btn botao botao-editar">Jogos</button></a>
                    
                    <a href="{% url 'editar_atleta' atleta.id atleta.modalidade.id %}"><button class="btn botao botao-editar">Editar</button></a>

                    <div class="botao-modal-div modal-foto-perfil">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn botao botao-editar" data-bs-toggle="modal" data-bs-target="#modal-foto">Alterar Foto do Atleta</button>
              
                        <!-- Modal -->
                        <div class="modal fade" id="modal-foto" tabindex="-1" aria-labelledby="label-modal-foto" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                  <h2 class="modal-title fs-5" id="label-modal-foto">Alterar Foto do Atleta</h2>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <form action="{%url 'alterar_foto_atleta' atleta.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                      <label for="foto">Alterar Foto do Atleta</label>
                                      <input type="file" name="nova_foto_atleta" id="foto">
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn botao-fechar" data-bs-dismiss="modal">Fechar</button>
                                  <button type="submit" class="btn botao-editar">Salvar Alteração</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                    </div>
    
                    <!-- Button chama modal -->
                    <button type="button" class="btn botao botao-excluir" data-bs-toggle="modal" data-bs-target="#modal">
                        Excluir
                      </button>
                      
                      <!-- Modal -->
                    <div class="modal fade" id="modal" aria-labelledby="modal-atleta" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                  <h2 class="modal-title fs-5" id="modal-atleta">Excluir Atleta</h2>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  Deseja mesmo excluir esse atleta?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                                  <a href="{% url 'deletar_atleta' atleta.id %}"><button type="button" class="btn btn-primary">Sim</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atleta-info-container">
                <div class="atleta-info info-1">
                    <div>
                        <p class="atleta-info-titulo">Nome Completo:</p>
                        <p class="atleta-info-conteudo">{{atleta.nome}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"> Modalidade:</p>
                        <p class="atleta-info-conteudo">{{atleta.modalidade.nome_da_modalidade}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"> Data de Nascimento:</p>
                        <p class="atleta-info-conteudo">{{atleta.data_nascimento}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo">Perna Dominante:</p>
                        <p class="atleta-info-conteudo">{{atleta.get_perna_dominante_display}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo">Altura:</p>
                        <p class="atleta-info-conteudo">{{atleta.altura_tratada}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo">Alergia:</p>
                        <p class="atleta-info-conteudo">{{atleta.alergia}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo">Whatsapp:</p>
                        <p class="atleta-info-conteudo">{{atleta.whatsapp}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo">Nivel de Escolaridade:</p>
                        <p class="atleta-info-conteudo">{{atleta.nivel_escolar}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"> Naturalidade(UF):</p>
                        <p class="atleta-info-conteudo">{{atleta.naturalidade_uf}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo">Bairro:</p>
                        <p class="atleta-info-conteudo">{{atleta.bairro}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo">Nº:</p>
                        <p class="atleta-info-conteudo">{{atleta.numero_da_casa}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo">Nome do Pai:</p>
                        <p class="atleta-info-conteudo">{{atleta.nome_pai}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo">Telefone Responsavel:</p>
                        <p class="atleta-info-conteudo">{{atleta.telefone_responsavel}}</p>
                    </div>
                </div>

                <div class="atleta-info info-2">
                    <div>
                        <p class="atleta-info-titulo">Apelido:</p>
                        <p class="atleta-info-conteudo">{{atleta.apelido}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo">Posição:</p>
                        <p class="atleta-info-conteudo">{{atleta.posicao.posicao}}</p>
                    </div>

                    <div>
                        <p class="atleta-info-titulo">Idade:</p>
                        <p class="atleta-info-conteudo">{{atleta.idade}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo">Camisa:</p>
                        <p class="atleta-info-conteudo">{{atleta.camisa_atual}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo">Peso:</p>
                        <p class="atleta-info-conteudo">{{atleta.peso_tratado}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo">Status:</p>
                        <p class="atleta-info-conteudo">{{atleta.status_atual}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"> Plano de Saude:</p>
                        <p class="atleta-info-conteudo">{{atleta.plano_saude}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"> Telefone:</p>
                        <p class="atleta-info-conteudo">{{atleta.telefone}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo">Whatsapp:</p>
                        <p class="atleta-info-conteudo">{{atleta.whatsapp}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"> Cidade:</p>
                        <p class="atleta-info-conteudo">{{atleta.cidade}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"> Endereço:</p>
                        <p class="atleta-info-conteudo">{{atleta.endereco}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"> Cep:</p>
                        <p class="atleta-info-conteudo">{{atleta.cep}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo"> Nome da Mãe:</p>
                        <p class="atleta-info-conteudo">{{atleta.nome_mae}}</p>
                    </div>
                    <div>
                        <p class="atleta-info-titulo">Telefone Responsavel 2:</p>
                        <p class="atleta-info-conteudo">{{atleta.telefone_responsavel2}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}