/* CSS DO HTML */
html,body{
    width: 100%;
}

/* CSS DO BODY */
body{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Montserrat';
}
h1{
    color: white;
}

/* CSS CADASTRO */
.cadastro{
    width: 70%;
    padding: 0 0 30px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.cadastro-label{
    margin-top: 20px;
    margin-left: 20px;
}

.cadastro-input{
    border-radius: 50px;
    margin-bottom: 20px;
}

p {
    margin-left: 20px;
    font-size: 20px;
}

/* CSS FORMULÁRIO */
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.formulario>div:nth-child(3){
    width: 100%;
    display: flex;
    flex-direction: column;

}

/* CSS DO TITULO */
.titulo{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.titulo h2{
    text-align: center;
    font-size: 25px;
}

.titulo hr{
    width: 20%;
    margin: 0 20px;
    border-width: 2px;
}

/* CSS INPUT DUPLO */
.input-duplo{
    display: flex;
}

.input-duplo>div{
    width: 50%;
}

.input-duplo>div:first-child{
    margin-right: 10px;
}

/* CSS CHECKBOX */
.grupo-checkbox{
    width: 40%;
    display: flex;
    flex-direction: column;
}

/* CSS SELECT */
.select{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.select select{
    border-radius: 50px;
    padding: 7px 0;
    width: 100%;
}

/* CSS DO BOTÃO*/
.botao{
    width: 100%;
    background-color: #003D9B;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 5px 0;
    margin-top: 20px;
}

@media(max-width:768px){
    .input-duplo{
        flex-wrap: wrap;
    }

    .input-duplo>div{
        width: 100%;
    }
}