body{
    background-color: #1e1e1e;
    font-family:'Montserrat';
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    width: 80%;
    background-color: #b1b1b1;
}

section:first-child{
    margin-top: 150px;
}

section:last-child{
    margin-bottom: 70px;
}

/*CSS DA PESQUISA */
.gestor-pesquisa{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.gestor-pesquisa form{
    width: 75%;
    margin-right: 20px;
}

.gestor-pesquisa form>input{
    width: 100%;
    border: 2px solid #003D9B;
    border-radius: 50px;
    padding: 8px 0;
    padding-left: 15px;
}

.gestor-pesquisa>button{
    border: none;
    border-radius: 50px;
    background-color: #003D9B;
    color: white;
    padding: 0 15px;
    transition: 0.6s all;
    margin-right: 10px;
}

.gestor-pesquisa button:hover{
    background-color: #4871af;
}


/* CSS DO MODAL */
.modal-conteudo form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.modal-conteudo>form>div{
   display: flex;
}

.modal-conteudo label{
    margin-left: 5px;
}

.modal-conteudo input{
    margin-left: 15px;
}


/* CSS GESTOR-ATLETAS */
.slide-content{
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
}

.slide-content>div{
    display: flex;
    flex-wrap: wrap;
    width: 97%;
}

.gestor-atletas-container-titulo h2{
    margin-left: 20px;
}

.gestor-atletas-container-titulo{
    display: flex;
    justify-content: space-between;
}

.gestor-atletas-container-titulo button{
    padding: 0 50px;
    background-color: #003D9B;
    color: white;
    margin: 10px 22px 10px 0;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
}

.gestor-atletas-container-titulo button:hover{
    cursor: pointer;
    background-color: #4871af;
    transition: 0.5s all;
}

.gestor-atletas-atacante{
    padding-top: 20px;
}

/* CSS DOS CARDS */
.card-atletas{
    width: 242px;
    background-color: #f3f3f3;
    height: 350px;
    margin: 0 5px 20px 5px;
    position: relative;
}

/* CSS DAS INFORMAÇÕES DOS CARDS */
.gestor-atletas-informaçao{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15px 0 0 10px;
    background-color: #003D9B;
    transition: 0.5s all;
    opacity: 0;
}

.gestor-atletas-informaçao:hover{
    opacity: 1;
    cursor: pointer;
}


.gestor-atletas-informaçao-titulo{
    margin: 0;
    opacity: 0;
}

.gestor-atletas-informaçao-conteudo{
    margin-bottom: 10px;
    opacity: 0;
    color: white;
    margin-left: 5px;
    font-size: smaller;
}

.gestor-atletas-informaçao-link{
    background-color: white;
    text-align: center;
    width: 95%;
    opacity: 0;
    margin-top: 40px;
}

.gestor-atletas-informaçao-link a{
    text-decoration: none;
    color: #1e1e1e;
}

.gestor-atletas-informaçao:hover .gestor-atletas-informaçao-titulo, .gestor-atletas-informaçao:hover .gestor-atletas-informaçao-conteudo, .gestor-atletas-informaçao:hover .gestor-atletas-informaçao-link{
    opacity: 1;
}

/* CSS DAS IMAGENS DOS ATLETAS */
.gestor-atletas-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
}

/* RESPONSIVIDADE */
@media (max-width:990px) {
    .navegaçao{
        display: flex;
        flex-direction: column-reverse;
    }

    .perfil-link, .sair-link{
        display: block;
    }
}

@media(max-width:520px) {
    .gestor-atletas-container-titulo{
        flex-direction: column;
        align-items: center;
    }

    .gestor-atletas-container-titulo button{
        width: 80%;
        margin: 5px 10px;
    }

    .gestor-pesquisa{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gestor-pesquisa form{
        width: 80%;
        margin: 5px 10px;
    }
}